<body class="admin posts">
  <div id="admin">
    <ul>
      {{#images}}
        <li><img src="/img/{{.}}"></li>
      {{/images}}
    </ul>

    <form accept-charset="UTF-8" action="{{base_url}}/images/upload" enctype="multipart/form-data" method="post">
      <input name="file" type="file" />
      <input type="button" value="Upload" />
    </form>
  </div>
</body>
